<div class="mainDiv">
    <div class="secondDiv">
        <form novalidate #f="ngForm" *ngIf="isAddEmail">
            <ion-list>
                <ion-item>
                    <ion-label floating>Add Email</ion-label>
                    <ion-input type="email" name="femail" [(ngModel)]="model.email" required pattern="[^ @]*@[^ @]*"
                        #femail="ngModel"></ion-input>
                </ion-item>
                <div style="padding: 0px 16px 0px; color: red"
                    *ngIf="femail.errors && (femail.dirty || femail.touched)">
                    <p *ngIf="femail.errors.required">Email is required</p>
                    <p *ngIf="femail.errors.pattern">Email must contain at least the @ character</p>
                </div>
                <!-- <pre>Valid? {{f.form.controls.email?.valid}}</pre>
                <pre>Dirty? {{f.form.controls.email?.dirty}}</pre>
                <pre>Touched? {{f.form.controls.email?.touched}}</pre> -->
            </ion-list>
            <ion-row>
                <ion-col col-6>
                    <div style="padding: 5px;"><button ion-button (click)="addEmail('add',null)" color="gpsc" round
                            small style="width: 100px;" [disabled]="f.invalid">Add</button></div>
                </ion-col>
                <ion-col col-6>
                    <div style="padding: 5px;"><button ion-button (click)="dismiss()" color="grey" round small
                            style="width: 100px;">Close</button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
        <form novalidate #f1="ngForm" *ngIf="isAddPhone">
            <ion-list>
                <ion-item>
                    <ion-label floating>Add Phone Number</ion-label>
                    <ion-input type="tel" name="fphone" [(ngModel)]="model.phone" required minlength="10" maxlength="10"
                        #fphone="ngModel" pattern="[0-9]*"></ion-input>
                </ion-item>
                <div style="padding: 0px 16px 0px; color: red"
                    *ngIf="fphone.errors && (fphone.dirty || fphone.touched)">
                    <p *ngIf="fphone.errors.required">Phone number is required</p>
                    <p *ngIf="fphone.errors.pattern">Phone number must contain 10 digits.</p>
                </div>
            </ion-list>
            <ion-row>
                <ion-col col-6>
                    <div style="padding: 5px;"><button ion-button (click)="addPhone('add',null)" color="gpsc" round
                            small style="width: 100px;" [disabled]="f1.invalid">Add</button></div>
                </ion-col>
                <ion-col col-6>
                    <div style="padding: 5px;"><button ion-button (click)="dismiss()" color="grey" round small
                            style="width: 100px;">Close</button>
                    </div>
                </ion-col>
            </ion-row>
        </form>
        <ion-list *ngIf="isAddEmail">
            <ion-item *ngFor='let email of emailList; let i = index'>
                <ion-grid item-content>
                    <ion-row>
                        <ion-col col-2>
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                        <ion-col col-8>
                            <p style="margin-top: 8px;">{{email}}</p>
                        </ion-col>
                        <ion-col col-2 style="margin: auto;">
                            <ion-icon style="font-size: 1em;" color="danger" name="trash"
                                (click)="addEmail('delete',i)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="isAddPhone">
            <ion-item *ngFor='let phone of phonelist; let i = index'>
                <ion-grid item-content>
                    <ion-row>
                        <ion-col col-2>
                            <ion-checkbox></ion-checkbox>
                        </ion-col>
                        <ion-col col-8>
                            <p style="margin-top: 8px;">{{phone}}</p>
                        </ion-col>
                        <ion-col col-2 style="margin: auto;">
                            <ion-icon style="font-size: 1em;" color="danger" name="trash"
                                (click)="addPhone('delete',i)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
        <!-- <pre>{{f.value | json }}</pre> -->
    </div>
</div>